@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>We don't have any customers yet!!</p> <!-- In case we do not have any customers yet -->
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                Customer
            </th>
            <th>
                Membership Type
            </th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Customers", new { id = item.Id } ,null)
                </td>
                <td>
                    @item.MembershipType.Name
                </td>
            </tr>
        }
    </table>
}
@Html.ActionLink("Add New", "New")
